$font-size-root: 14px;
$font-family: 'Open Sans';
$body-color: #595959;

$signtech-green: #00b655;
$signtech-dark-green: #117722;
$brand-primary: #1d1c93;

// Links

$link-hover-decoration: none;

// Components
$border-radius: .35rem;
$border-radius-lg: .5rem;
$border-radius-sm: .25rem;

// Buttons

$btn-padding-y: .75rem;

// Forms

$input-padding-x: 1rem;
$input-padding-y: .75rem;

$input-bg: #f1f1f1;
$input-color: $body-color;

$input-border-color: transparent;


