// Newest (at the time was written) normalize
@import 'normalize';

//
// Our own variables
//
@import 'utils/variables';

//
// Bootstrap
//

// Core variables and mixins
@import 'variables';
@import 'mixins';

// Reset and dependencies
@import 'print';

// Core CSS
@import 'reboot';
@import 'type';
@import 'images';
@import 'code';
@import 'grid';
@import 'tables';
@import 'forms';
@import 'buttons';

// Components
@import 'animation';
@import 'dropdown';
@import 'button-group';
@import 'input-group';
@import 'custom-forms';
@import 'nav';
@import 'navbar';
@import 'card';
@import 'breadcrumb';
@import 'pagination';
@import 'tags';
@import 'jumbotron';
@import 'alert';
@import 'progress';
@import 'media';
@import 'list-group';
@import 'responsive-embed';
@import 'close';

// Components w/ JavaScript
@import 'modal';
@import 'tooltip';
@import 'popover';
@import 'carousel';

// Utility classes
@import 'utilities';

//
// Own components
//
@import 'header';
@import 'nav';
@import 'footer';
@import 'datepicker';
@import 'my-forms';
@import 'users';

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;

    @include media-breakpoint-up(md) {
    	padding-bottom: 7rem;
    }
}

.page-title {
    margin-bottom: 2rem;
    padding: 1rem 0;
    color: $brand-primary;
    text-transform: uppercase;
    border-bottom: 1px dashed #34373e;
}

.page-link {
    cursor: pointer;
}

.table--responsive {
    @media (max-width: 560px) {
        thead {
            display: none;
        }

        tbody,
        tfoot,
        tr,
        td,
        th {
            display: block;
            width: 100%;
        }

        td[data-title] {
            &::before {
                content: attr(data-title) ": ";
                font-weight: 700;
            }
        }
    }
}