.nav {
    list-style: none;
    padding-left: 0;

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__link {
        display: inline-block;
        padding: 1rem;
        color: $green;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 5px;
        transition: background .2s;

        &:hover {
            background: #f4f4f4;
            color: $green;
        }

        &--active {
            &,
            &:hover {
                background: $green;
                color: #fff;
            }
        }
    }
}